* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ef3b36; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ef3b36
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ef3b36
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-header {
  background-color: #a23330;
  color: #ffffff;
}

.react-chatbot-kit-chat-container {
  width: 400px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #ef3b36;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #ef3b36;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #ef3b36;
}

.ADE{
    background-color:  #eb8480;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 100%;
}

.start-btn{
  background-color: #eb8480;
  color: white;
  padding: .5rem 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  margin-left: 4rem;
}

.slow-btn {
  margin-left: 1rem;
}
